@charset "utf-8";

/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Widget & Template Page
 * 09. ETC
 * 10. Column & Color Type
 * 11. Retina Display
 * 12. Media Screen - Tablet
 * 13. Media Screen - Mobie
 *
 */

/* Main Color : #da2028 */

/* Web Font Load */

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);

/* Type Selector Reset */

*,
*:after,
*:before,
*:hover,
*:focus,
*:active,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
}

body {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #333;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    overflow: visible;
    cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
    -webkit-appearance: none;
}

input,
select,
textarea,
button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    border-radius: 0;
}

button {
    overflow: visible;
    /* margin: 0; */
    /* padding: 0; */
    border: 0;
    background: transparent;
}

ul li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

hr {
    display: none;
}

/* link */
a,
button {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* option */

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: -1px;
    margin-bottom: -1px;
    font-size: 1px;
    line-height: 0;
    color: transparent;
}

/* Accessibility Navigation */

#acc-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 0
}

#acc-nav a,
#acc-nav a:active,
#acc-nav a:focus,
#acc-nav a:hover {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-bottom: -1px;
    font-size: 0;
    color: transparent;
    white-space: nowrap
}

/* Layout Selector */

#wrap {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.header .brand-section {
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    text-align: center;
}

.header .brand-section h1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .brand-section h1 a {
    text-decoration: none;
    color: #333;
    font-size: 1.25rem;
}

.header .brand-section .brand_img {
    width: auto;
    height: 100%;
}

.header .brand-section .brand_text {
    letter-spacing: -.05em;
    font-weight: 300;
}

.header .widget-section {
    order: 1;
}

.header .widget-wrap {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header .btn-toggle-widget {
    width: 50px;
    height: 50px;
    color: #666;
}

.header .widget-section .inner-container {
    position: absolute;
    top: 61px;
    background: #fff;
    width: 100%;
    height: calc(100vh - 61px);
    left: -100vw;
    padding-top: 3rem;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.header .search-module {
    padding: 1rem;
}

.header .search-module h2 {
    width: 1px;
    height: 1px;
    line-height: 0;
    margin-left: -1px;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 1px;
    color: transparent;
}

.header .search-module fieldset {
    position: relative;
    padding-right: 50px;
    border: 1px solid #999;
}

.header .search-module input {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    border: 0;
    font-size: 1.25rem;
    color: #666;
    font-weight: 300;
}

.header .search-module input::placeholder {
    color: #ccc;
}

.header .search-module button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #999;
}

.header .search-module button:hover,
.header .search-module button:focus,
.header .search-module input:focus+button {
    background-position-x: -37px;
}

.header .tag-module {
    padding: 1rem;
}

.header .tag-module h2 {
    width: 1px;
    height: 1px;
    line-height: 0;
    margin-left: -1px;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 1px;
    color: transparent;
}

.header .tag-item {
    text-align: center;
}

.header .tag-item a {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    background: #f6f6f6;
    border-radius: 2rem;
    color: #666;
    font-size: .9rem;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
}

.header .tag-item a:hover,
.header .tag-item a:focus {
    background: #da2028;
    color: #fff;
}

.header .menu-section {
    order: 2;
}

.header .btn-toggle-menu {
    width: 50px;
    height: 50px;
    color: #666;
}

.header .menu-section .inner-container {
    position: absolute;
    top: 61px;
    background: #fff;
    width: 100%;
    height: calc(100vh - 61px);
    right: -100vw;
    padding-top: 3rem;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.header .nav a {
    text-decoration: none;
    color: #333;
}

.header .tt_category .link_tit {
    display: none;
}

.header .tt_category .c_cnt {
    display: none;
}

.header .category_list .link_item {
    display: block;
    padding: 1rem 1.5rem;
}

.header .category_list .link_item:hover {
    color: #da2028;
}

.header .sub_category_list {
    border-left: 3px solid #ddd;
    margin: 0 1rem 1.5rem 1.5rem;
}

.header .sub_category_list .link_sub_item {
    display: block;
    padding: .5rem 1.5rem;
    font-size: .9rem;
    white-space: nowrap;
}

.header .sub_category_list .link_sub_item:hover {
    color: #da2028;
}

/* widget-on */

.widget-on .widget-section .inner-container {
    left: 0;
}

.widget-on .btn-toggle-widget {
    color: #da2028;
}

/* menu-on */

.menu-on .menu-section .inner-container {
    right: 0;
}

.menu-on .btn-toggle-menu {
    color: #da2028;
}

@media screen and (min-width: 960px) {
    .header .header-container {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 80px;
    }

    .header .brand-section {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        text-align: left;
    }

    .header .widget-section {
        order: 2;
    }

    .header .widget-section .inner-container {
        top: 81px;
        height: calc(100vh - 81px);
    }

    .header .search-module {
        padding: 1rem;
        max-width: 640px;
        margin: 0 auto;
    }

    .header .tag-module {
        padding: 1rem;
        max-width: 960px;
        margin: 0 auto;
    }

    .header .tag-item a {
        padding: .25rem .5rem;
        background: transparent;
        color: #333;
        font-size: 100%;
    }

    .header .tag-item a:before {
        content: '#'
    }

    .header .tag-item a:hover {
        /* padding: .25rem .5rem; */
        background: transparent;
        color: #da2028;
    }

    .header .menu-section {
        order: 1;
    }

    .header .btn-toggle-menu {
        display: none;
    }

    .header .menu-section .inner-container {
        position: relative;
        top: initial;
        right: initial;
        background: tr;
        width: auto;
        height: auto;
        padding: initial;
    }

    .header .category_list {
        display: flex;
        display: -ms-flexbox;
    }

    .header .category_list>li {
        position: relative;
    }

    .header .category_list .link_item {
        padding: 1rem;
    }

    .header .sub_category_list {
        position: absolute;
        left: 100vw;
        top: 60px;
        border-top: 3px solid #da2028;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background: #fff;
        margin: 0;
        padding: .5rem 0;
        opacity: .25;
        transition: top .15s ease-in-out, opacity .15s ease-in-out;
        -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    }

    .header .sub_category_list .link_sub_item {
        padding: .5rem 1rem;
    }

    .header .category_list li:hover .sub_category_list {
        left: 0;
        top: 50px;
        opacity: 1;
    }
}

/* content-container */

.content-container {
    margin-top: 60px;
}

@media screen and (min-width: 960px) {
    .content-container {
        margin-top: 80px;
    }
}

/* Components */

.btn,
a.btn {
    display: inline-block;
    position: relative;
    width: 158px;
    padding: 0 10px;
    border: 1px solid #999;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    line-height: 38px;
    color: #666;
    transition: color .15s, background-color .15s;
    -webkit-transition: color .15s, background-color .15s;
}

.btn:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 11px;
    height: 9px;
    margin-top: -5px;
    background: url(./images/ico_package.png) no-repeat -100px 0;
}

.btn:hover {
    background-color: #da2028;
    border-color: #da2028;
    color: #fff;
}

.btn:hover:after {
    background-position-x: 0;
}

/* cover-slide */

.cover-slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    height: 480px;
}

.cover-slider .prev,
.cover-slider .next {
    position: absolute;
    top: -100vh;
    z-index: 9;
    background-repeat: no-repeat;
    text-indent: -999em;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, .5);
}

.cover-slider .paging {
    position: absolute;
    z-index: 9;
    width: 100%;
    text-align: center;
    bottom: 1rem;
}

.cover-slider .paging button {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 12px;
    margin: 0 .25rem;
    background-color: rgba(255, 255, 255, .3);
    text-indent: -999em;
    vertical-align: bottom;
    border-radius: 2rem;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.cover-slider .paging .current {
    width: 20px;
    background-color: #da2028;
}

.cover-slider ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
}

.cover-slider ul li {
    display: table;
    width: 100%;
    height: 100%;
}

.cover-slider ul li .slider-item {
    background-color: #222;
    text-decoration: none;
    height: 100%;
}

.cover-slider ul li .img-area {
    display: block;
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
}

.cover-slider ul li .text-box {
    padding: 2.5rem 2rem;
}

.cover-slider ul li .category {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.cover-slider ul li .category a {
    text-decoration: none;
    color: #fff;
}

.cover-slider ul li .title {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cover-slider ul li .title a {
    text-decoration: none;
    color: #fff;
}

.cover-slider ul li .excerpt {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    font-size: .9rem;
    color: #ccc;
    line-height: 1.75;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cover-slider ul li .date {
    color: rgba(255, 255, 255, .5);
    font-size: .7rem;
    margin-top: 1rem;
    font-weight: 100;
    text-align: right;
    display: none;
}

.cover-slider.slide-on ul li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (min-width: 425px) {
    .cover-slider {
        height: 540px;
    }

    .cover-slider ul li .title {
        -webkit-line-clamp: 2;
    }
}

@media screen and (min-width: 768px) {
    .cover-slider {
        height: 480px;
    }

    .cover-slider .prev,
    .cover-slider .next {
        top: 50%;
    }

    .cover-slider .prev {
        left: 1rem;
        background-image: url(./images/ico-slider-prev.png);
    }

    .cover-slider .prev:hover {
        border-color: #fff;
    }

    .cover-slider .next {
        right: 1rem;
        background-image: url(./images/ico-slider-next.png);
    }

    .cover-slider .next:hover {
        border-color: #fff;
    }

    .cover-slider ul li .img-area {
        height: 100%;
    }

    .cover-slider ul li .text-box {
        padding: 2rem 3rem;
        position: absolute;
        bottom: 120px;
        left: 100px;
        right: 100px;
        background: rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 960px) {
    .cover-slider {
        height: 640px;
    }

    .cover-slider ul li .img-area {
        width: 55%;
    }

    .cover-slider ul li .text-box {
        top: 0;
        bottom: 0;
        left: 55%;
        right: 0;
        background: #222;
    }

    .cover-slider .text-group {
        width: 400px;
        position: absolute;
        bottom: 150px;
        left: 50px;
    }

    .cover-slider ul li .title {
        font-size: 1.5rem;
        -webkit-line-clamp: 2;
    }

    .cover-slider ul li .excerpt {
        /* font-size: 1rem; */
        -webkit-line-clamp: 6;
    }

    .cover-slider ul li .date {
        display: block;
    }
}

/* cover-thumbnail-list-1 */

.cover-thumbnail-list-1 {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
}

.cover-thumbnail-list-1 h2.section-title {
    display: block;
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cover-thumbnail-list-1 h2.section-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 1rem auto 0;
    background-color: #666;
}

.cover-thumbnail-list-1 ul li {
    padding: 0 15px;
    margin-top: 1.5rem
}

.cover-thumbnail-list-1 ul li .thum img {
    width: 100%;
    height: auto;
    transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out:
}

.cover-thumbnail-list-1 ul li .thum:hover img {
    opacity: .8;
}

.cover-thumbnail-list-1 ul li .text-box {
    margin: 1rem 0 0
}

.cover-thumbnail-list-1 ul li .info-warp {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cover-thumbnail-list-1 ul li .category {
    display: block;
    font-weight: 400;
    font-size: .8rem;
}

.cover-thumbnail-list-1 ul li .category a {
    text-decoration: none;
    color: #666;
}

.cover-thumbnail-list-1 ul li .category a:hover {
    color: #da2028;
}

.cover-thumbnail-list-1 ul li .date {
    display: block;
    font-weight: 100;
    font-size: .7rem;
    color: #666;
}

.cover-thumbnail-list-1 ul li .title {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin: 0 0 .5rem 0;
    font-size: 1.25rem;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cover-thumbnail-list-1 ul li .title a {
    text-decoration: none;
    color: #333;
}

.cover-thumbnail-list-1 ul li .title a:hover {
    color: #da2028;
}

.cover-thumbnail-list-1 ul li .excerpt {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    font-size: .9rem;
    line-height: 1.5;
    color: #666;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 425px) {
    .cover-thumbnail-list-1 ul li {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    .cover-thumbnail-list-1 ul li .thum {
        width: 150px;
    }

    .cover-thumbnail-list-1 ul li .text-box {
        margin: 0;
        width: calc(100% - 150px);
        padding-left: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cover-thumbnail-list-1 ul li .thum {
        width: 180px;
    }

    .cover-thumbnail-list-1 ul li .text-box {
        width: calc(100% - 180px);
    }
}

@media screen and (min-width: 960px) {
    .cover-thumbnail-list-1 ul {
        display: flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        margin-top: -1.5rem;
    }

    .cover-thumbnail-list-1 ul li {
        width: 50%;
        /* margin-top: 1rem; */
    }
}

@media screen and (min-width: 1260px) {
    .cover-thumbnail-list-1 h2.section-title {
        text-align: left;
    }

    .cover-thumbnail-list-1 h2.section-title:after {
        margin: 1rem auto 0 0;
    }

    .cover-thumbnail-list-1 ul {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/* cover-special-contents */

.cover-special-contents {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
}

.cover-special-contents h2.section-title {
    display: none;
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cover-special-contents h2.section-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 1rem auto 0;
    background-color: #666;
}

.cover-special-contents ul li {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5rem;
}

.cover-special-contents ul li .thum {
    display: block;
}

.cover-special-contents ul li .thum img {
    max-width: 100%;
    height: auto;
    transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out:
}

.cover-special-contents ul li .thum:hover img {
    opacity: .8;
}

.cover-special-contents ul li .category {
    display: block;
    margin: 2rem 0 1rem;
    padding: 0 15px;
    font-weight: 400;
    font-size: .8rem;
}

.cover-special-contents ul li .category a {
    text-decoration: none;
    color: #666;
}

.cover-special-contents ul li .category a:hover {
    color: #da2028;
}

.cover-special-contents ul li .date {
    display: none;
    margin: 0 0 1rem 0;
    padding: 0 15px;
    font-weight: 100;
    font-size: .7rem;
    color: #666;
}

.cover-special-contents ul li .title {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin: 0 0 1rem 0;
    padding: 0 15px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.25;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cover-special-contents ul li .title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 2rem auto 0;
    background-color: #333;
}

.cover-special-contents ul li .title a {
    text-decoration: none;
    color: #333;
}

.cover-special-contents ul li .title a:hover {
    text-decoration: none;
    color: #da2028;
}

.cover-special-contents ul li .excerpt {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 2.5rem;
    padding: 0 15px;
    font-size: .9rem;
    text-align: left;
    color: #666;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
    .cover-special-contents ul li {
        margin-bottom: 0;
    }

    .cover-special-contents ul li .thum {
        width: 50%;
    }

    .cover-special-contents ul li:nth-child(odd) .thum {
        float: left;
    }

    .cover-special-contents ul li:nth-child(even) .thum {
        float: right;
    }

    .cover-special-contents ul li .text-box {
        position: absolute;
        top: calc(50% - 180px);
        width: 50%;
    }

    .cover-special-contents ul li:nth-child(odd) .text-box {
        right: 0;
    }

    .cover-special-contents ul li:nth-child(even) .text-box {
        left: 0;
    }

    .cover-special-contents ul li .title {
        padding: 0 2rem;
    }

    .cover-special-contents ul li .excerpt {
        -webkit-line-clamp: 4;
        padding: 0 4rem;
        font-size: 100%;
    }
}

@media screen and (min-width: 960px) {
    .cover-special-contents ul li .text-box {
        top: calc(50% - 200px);
    }

    .cover-special-contents ul li .excerpt {
        -webkit-line-clamp: 5;
        padding: 0 6rem;

    }
}

@media screen and (min-width: 1260px) {
    .cover-special-contents h2.section-title {
        text-align: left;
    }

    .cover-special-contents h2.section-title:after {
        margin: 1rem auto 0 0;
    }
}

/* cover-wide-panel */

.cover-wide-panel {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
}

.cover-wide-panel .bg-area {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.cover-wide-panel .text-box {
    max-width: 280px;
    margin: -50px auto 0;
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    background-color: #fff;
}

.cover-wide-panel .category {
    color: #666;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.cover-wide-panel .category a {
    text-decoration: none;
    color: #666;
}

.cover-wide-panel .category a:hover {
    color: #da2028;
}

.cover-wide-panel .date {
    font-weight: 100;
    font-size: .7rem;
    color: #666;
    margin-bottom: .5rem;
    display: none;
}

.cover-wide-panel h3.cover-item-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
}

.cover-wide-panel h3.cover-item-title:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin: 33px auto 0;
    background-color: #7a583a;
}

.cover-wide-panel h3.cover-item-title a {
    text-decoration: none;
    color: #333;
}

.cover-wide-panel h3.cover-item-title a:hover {
    text-decoration: none;
    color: #da2028;
}

.cover-wide-panel .excerpt {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: .9rem;
    color: #666;
    line-height: 1.75;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 425px) {
    .cover-wide-panel .bg-area {
        height: 300px;
    }

    .cover-wide-panel .text-box {
        max-width: 380px;
    }

    .cover-wide-panel .excerpt {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 768px) {
    .cover-wide-panel .text-box {
        max-width: 700px;
        margin: -100px auto 0;
        padding: 3rem 3rem 0 3rem;
    }

    .cover-wide-panel .excerpt {
        padding: 0 5rem;
    }

}

@media screen and (min-width: 960px) {
    .cover-wide-panel .text-box {
        max-width: 900px;
        margin: -150px auto 0;
    }

    .cover-wide-panel .excerpt {
        padding: 0 10rem;
    }
}

/* cover-thumbnail-list-2  */

.cover-thumbnail-list-2 {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
}

.cover-thumbnail-list-2 h2.section-title {
    display: block;
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cover-thumbnail-list-2 h2.section-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 1rem auto 0;
    background-color: #666;
}

.cover-thumbnail-list-2 ul {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    margin-top: -1.5rem;
}

.cover-thumbnail-list-2 ul li {
    margin-top: 1.5rem;
    width: 50%;
    padding: 0 15px;
}

.cover-thumbnail-list-2 ul li .thum {}

.cover-thumbnail-list-2 ul li .thum img {
    width: 100%;
    ;
    height: auto;
    transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out:
}

.cover-thumbnail-list-2 ul li .thum:hover img {
    opacity: .8;
}

.cover-thumbnail-list-2 ul li .text-box {
    margin-top: 1rem;
}

.cover-thumbnail-list-2 ul li .info-wrap {
    display: -ms-flexbox;
    margin-bottom: .5rem;
}

.cover-thumbnail-list-2 ul li .category {
    display: block;
    font-weight: 400;
    font-size: .8rem;
}

.cover-thumbnail-list-2 ul li .category a {
    text-decoration: none;
    color: #666;
}

.cover-thumbnail-list-2 ul li .category a:hover {
    color: #da2028;
}

.cover-thumbnail-list-2 ul li .date {
    display: none;
    font-weight: 100;
    font-size: .7rem;
    color: #666;
}

.cover-thumbnail-list-2 ul li .title {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    margin: 0 0 .5rem 0;
    font-size: 1rem;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cover-thumbnail-list-2 ul li .title a {
    text-decoration: none;
    color: #333;
}

.cover-thumbnail-list-2 ul li .title a:hover {
    color: #da2028;
}

.cover-thumbnail-list-2 ul li .excerpt {
    display: inline-block;
    display: -webkit-box;
    max-height: 300px;
    overflow: hidden;
    font-size: .9rem;
    line-height: 1.5;
    color: #666;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cover-thumbnail-list-2 ul li .more a {
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    color: #999;
    padding: .5rem 1rem;
    margin-left: -1rem;
}

.cover-thumbnail-list-2 ul li .more a:hover {
    color: #da2028;
}

@media screen and (min-width: 425px) {
    .cover-thumbnail-list-2 ul li .title {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .cover-thumbnail-list-2 ul li {
        width: 33.33333%;
    }

    .cover-thumbnail-list-2 ul li .info-wrap {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
    }

    .cover-thumbnail-list-2 ul li .date {
        display: block;
    }
}

@media screen and (min-width: 960px) {
    .cover-thumbnail-list-2 ul li {
        width: 25%;
    }
}

@media screen and (min-width: 1260px) {
    .cover-thumbnail-list-2 h2.section-title {
        text-align: left;
    }

    .cover-thumbnail-list-2 h2.section-title:after {
        margin: 1rem auto 0 0;
    }

    .cover-thumbnail-list-2 ul {
        margin-left: -15px;
        margin-right: -15px;
    }
}




















































/* Entry Content */
.entry-content {
    max-width: 1200px;
    margin: 0 auto;
}

.entry-content h1 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.6875em;
    line-height: 1.5;
    color: #000;
}

.entry-content h2 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.5em;
    line-height: 1.5;
    color: #000;
}

.entry-content h3 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.3125em;
    line-height: 1.5;
    color: #000;
}

.entry-content h4 {
    clear: both;
    margin: 29px 0 22px;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5;
    color: #000;
}

.entry-content p {
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
}

.entry-content p img {
    max-width: 100%;
    height: auto;
}

.entry-content hr {
    display: block;
    height: 0;
    border: 0;
    border-bottom: 1px solid #000;
}

.entry-content pre {
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.entry-content pre code.hljs {
    padding: 20px;
}

.entry-content ul {
    list-style: disc inside;
    margin-bottom: 22px;
}

.entry-content ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    text-indent: -22px;
    list-style: inherit;
}

.entry-content ol {
    list-style: decimal inside;
    margin-bottom: 22px;
}

.entry-content ol li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 16px;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    text-indent: -15px;
    list-style: inherit;
}

.entry-content a {
    color: #d4bca7;
}

.entry-content img.alignleft {
    float: left;
    margin: 0 22px 22px 0;
}

.entry-content img.aligncenter {
    display: block;
    margin: 0 auto 22px;
}

.entry-content img.alignright {
    float: right;
    margin: 0 0 22px 22px;
}

.entry-content blockquote {
    margin-top: 10px;
    padding: 16px 20px;
    border-left: 4px solid #e6e6e6;
}

.entry-content blockquote p {
    margin: 22px 0 0;
}

.entry-content blockquote p:first-child {
    margin-top: 0;
}

.entry-content table {
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
}

.entry-content table thead th {
    padding: 7px 0 11px;
    border-left: 1px solid #e6e6e6;
}

.entry-content table tbody td {
    padding: 7px 0 11px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.entry-content input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    font-size: 0.875em;
    line-height: 1.25;
    color: #666;
    box-sizing: border-box;
    vertical-align: middle;
}

.entry-content .protected_form {
    margin-bottom: 40px;
    padding: 120px 0 200px;
    border-bottom: 1px solid #7a583a;
    text-align: center;
}

.entry-content .protected_form input {
    width: 200px;
    margin-bottom: 10px;
    vertical-align: top;
}

.entry-content .cap1 {
    text-align: center;
    font-size: 0.875em;
    font-style: italic;
}

.entry-content .iframe-wrap {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.entry-content .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

































































































































.post-header {
    position: relative;
    z-index: 10;
    overflow: hidden;
    max-width: 860px;
    margin: 40px auto 0;
    border-bottom: 1px solid #7a583a;
    text-align: left;
    color: #7a583a;
}

.post-header:first-child {
    margin-top: 75px;
}

.post-header h2 {
    display: inline-block;
    font-size: 0.875em;
    line-height: 40px;
    vertical-align: top;
}

.post-header .list-type {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
}

.post-header .list-type button {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    border: 1px solid #D4BCA7;
    background-image: url(./images/ico_package.png);
    text-indent: -999em;
    box-sizing: border-box;
}

.post-header .list-type .thum {
    background-position: 0 -100px;
}

.post-header .list-type .thum:hover,
.post-header .list-type .thum.current {
    background-position: -100px -100px;
    outline: none;
}

.post-header .list-type .list {
    background-position: -50px -100px;
    outline: none;
}

.post-header .list-type .list:hover,
.post-header .list-type .list.current {
    background-position: -150px -100px;
    outline: none;
}

.post-item {
    float: left;
    width: 23.255813953488372%;
    padding: 20px 0 33px 2.325581395348837%;
    border-bottom: 1px solid #e6e6e6;
}

.post-item:nth-child(4n+1) {
    padding-left: 0;
}

.post-item .thum {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    margin-bottom: 17px;
    padding-bottom: 98.4848%;
    background-color: #ebebeb;
}

.post-item .thum:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 22px;
    height: 18px;
    margin: -9px 0 0 -11px;
    background: url(./images/ico_package.png) no-repeat -150px -300px;
}

.post-item .thum img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.post-item a {
    display: block;
    text-decoration: none;
}

.post-item .title {
    display: block;
    overflow: hidden;
    width: 90%;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1em;
    color: #000;
    -webkit-transition: color .15s;
    transition: color .15s;
}

.post-item .excerpt {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    width: 90%;
    height: 4.125rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    font-size: 0.875em;
    line-height: 1.375rem;
    color: #666;
    -webkit-transition: color .15s;
    transition: color .15s;
}

.post-item .excerpt.protected:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 13px;
    margin-right: 10px;
    background: url(./images/ico_package.png) no-repeat -100px -350px;
    vertical-align: middle;
}

.post-item .more {
    display: inline-block;
    font-size: 0.75em;
    color: #d4bca7;
    vertical-align: top;
}

.post-item .more:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin: 3px 0 4px 6px;
    background: url(./images/ico_package.png) no-repeat 0 -300px;
    vertical-align: top;
}

.post-item .thum:afterr {
    content: "";
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.post-item a:hover .thum:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.post-item a:hover .title {
    color: #7a583a;
}

.post-item a:hover .excerpt {
    color: #000;
}

.post-item a:hover .more {
    color: #7A583A;
}

.post-item a:hover .more:after {
    background-position-x: -50px;
}

.post-type-text .post-item {
    float: none;
    width: auto;
    margin-left: 0;
    padding: 28px 0;
}

.post-type-text .post-item a {
    overflow: hidden;
    width: 100%;
}

.post-type-text .post-item .thum {
    float: right;
    width: 210px;
    height: 148px;
    margin: 0 0 0 78px;
    padding-bottom: 0;
}

.post-type-text .post-item .thum:before {
    display: none;
}

.post-type-text .post-item .thum img {
    position: relative;
    width: 100%;
    height: auto;
    margin: -29px 0 0;
}

.post-type-text .post-item .title {
    width: auto;
    margin-bottom: 3px;
    padding: 10px 0 0;
    font-size: 1.125em;
}

.post-type-text .post-item .excerpt {
    width: auto;
}

.post-type-text .post-item .more {
    line-height: 1.25;
}

.hgroup {
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 78px 0 40px;
    border-bottom: 1px solid #7a583a;
}

.hgroup .category {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 0.875em;
    color: #000;
}

.hgroup h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.0666;
    color: #7a583a;
}

.hgroup .post-meta {
    margin: 18px 0 -2px;
    font-size: 0.75em;
    color: #b2b2b2;
}

.hgroup .post-meta a {
    text-decoration: none;
    color: #d4bca7;
}

.hgroup .post-meta a:hover {
    color: #7A583A;
}

.hgroup .post-meta span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 9px;
    background-color: #b3b3b3;
    vertical-align: middle;
}

.hgroup .post-meta span:first-child:before {
    content: none;
}

.hgroup.guest h2 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    color: #7a583a;
}

.hgroup.guest {
    max-width: 860px;
    margin: 0 auto 60px;
    padding: 75px 0 0;
    border-bottom: 1px solid #7a583a;
}

.hgroup.tag {
    max-width: 860px;
    margin: 0 auto 60px;
    padding: 75px 0 0;
    border-bottom: 1px solid #7a583a;
}

.hgroup.tag h2 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    color: #7a583a;
}


.post-btn {
    max-width: 1200px;
    margin: 200px auto 20px;
}

.post-btn button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    text-align: left;
    text-indent: -999em;
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    border: 1px solid #D4BCA7;
    box-sizing: border-box;
}

.post-btn .share {
    background-position: 0 -50px;
}

.post-btn .report {
    background-position: -50px -50px;
}

.post-btn .share:hover {
    background-position: -100px -50px;
}

.post-btn .report:hover {
    background-position: -150px -50px;
}

.another-category {
    max-width: 1200px;
    margin: 20px auto 36px;
    padding: 38px 0 0;
    border-top: 1px solid #7a583a;
}

.another-category h4 {
    margin-bottom: 10px;
    font-size: 1em;
    color: #666;
}

.another-category table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875em;
    color: #b2b2b2;
}

.another-category table th {
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
    font-weight: 400;
}

.another-category table th a {
    text-decoration: none;
    color: #b2b2b2;
}

.another-category table th a:hover {
    color: #7A583A;
}

.another-category table th span {
    font-size: 0.75em;
}

.another-category td {
    width: 60px;
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.75em;
    line-height: 1;
    color: #b2b2b2;
}

/* Style Important */
.another_category table {
    border: none !important;
}

.another_category td {
    border: none !important;
}



#content .tags .items a {
    margin-left: 8px;
}

#content .tags .items {
    margin: 0 0 0 -18px;
    padding-left: 10px;
}


.related-articles {
    overflow: hidden;
    max-width: 1200px;
    margin: 40px auto 80px;
}

.related-articles h2 {
    margin-bottom: 28px;
    border-top: 1px solid #7a583a;
    border-bottom: 1px solid #7a583a;
    text-align: center;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 40px;
    color: #666;
}

.related-articles h2 strong {
    font-weight: 700;
    color: #000;
}

.related-articles ul {
    margin-left: -20px;
    vertical-align: top;
}

.related-articles ul li {
    float: left;
    position: relative;
    width: 25%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.related-articles ul li a {
    overflow: hidden;
    display: block;
    position: relative;
}

.related-articles ul li .thum {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 98.4848%;
    background-color: #ebebeb;
}

.related-articles ul li .thum:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 22px;
    height: 18px;
    margin: -9px 0 0 -11px;
    background: url(./images/ico_package.png) no-repeat -150px -300px;
}

.related-articles ul li .thum img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.related-articles ul li .title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
}

.comments {
    max-width: 860px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}

.comments h2 {
    font-size: 1em;
    color: #666;
}

.comments h2 .count {
    color: #7a583a;
}

.comments .comment-list {
    font-size: 16px;
    margin-bottom: 6px;
    overflow: hidden;
}

.comments .comment-list ul li {
    padding: 30px 0 25px;
    border-top: 1px solid #e6e6e6;
    position: relative;
    min-height: 48px;
}

.comments .comment-list ul li:first-child {
    border: none;
}

.comments .comment-list ul li ul li {
    padding: 26px 0 0 60px;
    border-top: 0;
    border-bottom: 0;
}

.comments .comment-list ul li .author-meta {
    position: absolute;
    overflow: hidden;
    top: 30px;
    height: 48px;
    left: 0;
    right: 0;
    padding: 4px 0 0 60px;
}

.comments .comment-list ul li ul li .author-meta {
    top: 26px;
    left: 60px;
}

.comments .comment-list ul li .author-meta .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.comments .comment-list ul li .author-meta span {
    display: inline-block;
}

.comments .comment-list ul li .author-meta a {
    text-decoration: none;
    color: #000;
}

.comments .comment-list ul li .author-meta .nickname {
    float: left;
    font-size: 0.875em;
    line-height: 20px;
}

.comments .comment-list ul li .author-meta .nickname .tistoryProfileLayerTrigger {
    margin-bottom: 3px;
    margin-right: 0;
    vertical-align: bottom;
}

.comments .comment-list ul li .author-meta .date {
    float: left;
    margin-left: 10px;
    font-size: 0.75em;
    color: #999;
    line-height: 20px;
}

.comments .comment-list ul li .author-meta .date:before,
.comments .comment-list ul li .author-meta .date a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin-right: 10px;
    background-color: #b2b2b2;
}

.comments .comment-list ul li .author-meta .date a {
    margin-left: 10px;
}

.comments .comment-list ul li .control {
    position: absolute;
    top: 33px;
    right: 0;
}

.comments .comment-list ul li ul li .control {
    top: 29px;
}

.comments .comment-list ul li .control a {
    margin: 0 2px;
    text-decoration: none;
    font-size: 12px;
    color: #999;
}

.comments .comment-list ul li p {
    position: relative;
    margin: 29px 0 0 60px;
    font-size: 0.875em;
    line-height: 1.5714;
    color: #666;
}

.comments .comment-form .field {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.comments .comment-form input[type=text],
.comments .comment-form input[type=password],
.comments .comment-form textarea {
    border: 1px solid #e6e6e6;
    font-size: 0.875em;
    line-height: 1.25;
    color: #666;
}

.comments .comment-form input[type=text],
.comments .comment-form input[type=password] {
    width: 120px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.comments .comment-form input::-webkit-input-placeholder,
.comments .comment-form textarea::-webkit-input-placeholder {
    color: #d6d6d6;
}

.comments .comment-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}

.comments .comment-form .field .secret {
    float: right;
}

.comments .comment-form .field .secret input {
    display: none;
}

.comments .comment-form .field .secret label {
    font-size: 0.875em;
    line-height: 40px;
    color: #666;
    outline: none;
    cursor: pointer;
}

.comments .comment-form .field .secret label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
    background-color: #fff;
}

.comments .comment-form .field .secret input[type=checkbox]:checked+label:before {
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    background-position: -97px -295px;
}

.comments .comment-form .submit {
    margin-bottom: 10px;
    text-align: right;
}

.pagination {
    max-width: 860px;
    margin: 60px auto 160px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.875em;
    line-height: 30px;
    color: #d4bca7;
    vertical-align: middle;
}

.pagination a:hover {
    color: #7A583A;
}

.pagination .selected {
    color: #000;
}

.pagination .prev,
.pagination .next {
    width: 30px;
    height: 30px;
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    border: 1px solid #D4BCA7;
    text-indent: -999em;
    vertical-align: middle;
    box-sizing: border-box;
}

.pagination .prev {
    background-position: 0 -150px;
}

.pagination .prev:hover {
    background-position: -100px -150px;
}

.pagination .next {
    background-position: -50px -150px;
}

.pagination .next:hover {
    background-position: -150px -150px;
}

.pagination .no-more-prev,
.pagination .no-more-next {
    display: none;
}

.pagination .view-more {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px 0 11px;
    border: 1px solid #d4bca7;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    color: #d4bca7;
}

.pagination .view-more:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 9px;
    background: url(./images/ico_package.png) no-repeat 0 -400px;
}

.pagination .view-more:hover {
    background-color: #d4bca7;
    color: #fff;
}

.pagination .view-more:hover:before {
    background-position-x: -50px;
}



/* Comment */

















/* Retina Display 
@media only screen and (-webkit-min-device-pixel-ratio:2) {

    #aside .tags .more:after,
    #aside .search button,
    .btn:after,
    .cover-slider .prev,
    .cover-slider .next,
    .post-header .list-type button,
    .post-item .thum:before,
    .cover-thumbnail-list-2 ul li .thum:before,
    .post-item .more:after,
    .cover-thumbnail-list-2 ul li .more:after,
    .post-btn button,
    .related-articles ul li .thum:before,
    .comments .comment-form .field .secret input[type=checkbox]:checked+label:before,
    .pagination .prev,
    .pagination .next,
    .pagination .view-more:before {
        background-image: url(./images/ico_package_2x.png);
        background-size: 200px auto;
    }
}
*/









































































































#content .inner {
    overflow: hidden;
    max-width: 860px;
    margin: 0 auto;
}

#aside {
    margin-top: 120px;
    padding: 57px 0 24px;
    border-top: 1px solid #e6e6e6;
}

#aside .inner {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

#aside h2 {
    margin-bottom: 6px;
    font-size: 1em;
    color: #666;
}

#aside .sidebar-1 {
    float: left;
    width: 25%;
    min-height: 10px;
    padding-right: 36px;
    box-sizing: border-box;
}

#aside .sidebar-2 {
    float: left;
    width: 50%;
    min-height: 10px;
    margin: 0 0 40px;
    padding: 0 12px;
    box-sizing: border-box;
}

#aside .sidebar-3 {
    float: left;
    width: 25%;
    min-height: 10px;
    padding-left: 36px;
    box-sizing: border-box;
}

#aside .posts {
    margin-bottom: 56px;
}

#aside .posts li {
    border-bottom: 1px solid #e6e6e6;
}

#aside .posts li a {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 8px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.875em;
    line-height: 1.5714;
    color: #b2b2b2;
}

#aside .posts li a:hover {
    color: #7a583a;
}

#aside .tags {
    margin: 0 0 40px;
}

#aside .tags h2 {
    margin-bottom: 10px;
}

#aside .tags .items {
    margin-bottom: 5px;
}

#aside .tags .more {
    text-decoration: none;
    font-size: 12px;
    line-height: 2;
    color: #d4bca7;
}

#aside .tags .more:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-left: 6px;
    background: url(./images/ico_package.png) no-repeat 0 -300px;
    vertical-align: baseline;
}

#aside .tags .more:hover {
    color: #7a583a;
}

#aside .tags .more:hover:after {
    background-position-x: -50px;
}



#aside .count {
    margin: 0 0 40px;
}

#aside .count .total {
    margin: 11px 0 2px;
    font-size: 1.875em;
    color: #7a583a;
}

#aside .count ul li {
    overflow: hidden;
    padding: 4px 0;
    border-bottom: 1px solid #e6e6e6;
    text-align: right;
    font-size: 0.875em;
    line-height: 2.1428;
    color: #b2b2b2;
}

#aside .count ul li strong {
    float: left;
    font-weight: normal;
}

#footer {
    padding: 18px 0;
    background-color: #f0f0f0;
}

#footer .copyright {
    text-align: center;
    font-size: 0.75em;
    color: #999;
}

#footer a {
    text-decoration: none;
    color: #7a583a;
}

#footer .admin:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 1px 9px 2px;
    background-color: #b2b2b2;
    vertical-align: middle;
}