@charset "utf-8";

/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Widget & Template Page
 * 09. ETC
 * 10. Column & Color Type
 * 11. Retina Display
 * 12. Media Screen - Tablet
 * 13. Media Screen - Mobie
 *
 */

/* Web Font Load */

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);

/* Type Selector Reset */

*,
*:after,
*:before,
*:hover,
*:focus,
*:active,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}


html {
    font-size: 16px;
}

body {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #333;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    overflow: visible;
    cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
    -webkit-appearance: none;
}

input,
select,
textarea,
button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    border-radius: 0;
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

ul li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

hr {
    display: none;
}

/* option */

.blind {
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: -1px;
    margin-bottom: -1px;
    font-size: 1px;
    line-height: 0;
    color: transparent;
}

/* Accessibility Navigation */

#acc-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 0
}

#acc-nav a,
#acc-nav a:active,
#acc-nav a:focus,
#acc-nav a:hover {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-bottom: -1px;
    font-size: 0;
    color: transparent;
    white-space: nowrap
}

/* Layout Selector */

#wrap {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.header .brand-section {
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    text-align: center;
}

.header .brand-section h1 {
    max-height: 50px;
    overflow: hidden;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    letter-spacing: -.025em;
}

.header .brand-section h1 a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    height: 30px;
    padding: 10px 0;
}

.header .brand-section .brand_img {
    width: auto;
    height: 100%;
}

.header .brand-section .brand_text {}

.header .widget-wrap {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

.header .btn-toggle-widget {
    width: 50px;
    height: 50px;
}

.header .widget-section .inner-container {
    position: absolute;
    top: 51px;
    background: #fff;
    width: 100vw;
    height: calc(100vh - 51px);
    left: -100vw;
    padding-top: 2rem;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.header .search-module {
    padding: 1rem;
}

.header .search-module h2 {
    width: 1px;
    height: 1px;
    line-height: 0;
    margin-left: -1px;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 1px;
    color: transparent;
}

.header .search-module fieldset {
    position: relative;
    padding-right: 50px;
    border: 1px solid #999;
}

.header .search-module input {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    border: 0;
    font-size: 1.25rem;
    color: #666;
}

.header .search-module input::placeholder {
    color: #ccc;
}

.header .search-module button {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    background: url(./images/ico_package.png) no-repeat 13px -337px;
    text-align: left;
    text-indent: -999em;
}

.header .search-module button:hover,
.header .search-module button:focus,
.header .search-module input:focus+button {
    background-position-x: -37px;
}

.header .tag-module {
    padding: 1rem;
}

.header .tag-module h2 {
    width: 1px;
    height: 1px;
    line-height: 0;
    margin-left: -1px;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 1px;
    color: transparent;
}

.header .tag-item {}

.header .tag-item a {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    background: #eee;
    border-radius: 2rem;
    color: #666;
    font-size: 90%;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
}

.header .tag-item a:hover,
.header .tag-item a:focus {
    background: #666;
    color: #fff;
}

.header .btn-toggle-menu {
    width: 50px;
    height: 50px;
}

.header .menu-section .inner-container {
    position: absolute;
    top: 51px;
    background: #fff;
    width: 100vw;
    height: calc(100vh - 51px);
    right: -100vw;
    padding-top: 2rem;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.header .nav a {
    text-decoration: none;
    color: #333;
}

.header .tt_category .link_tit {
    display: none;
}

.header .category_list {}

.header .category_list .link_item {
    display: block;
    padding: 1rem 1.5rem;
}

.header .sub_category_list {
    border-left: 3px solid #ddd;
    margin: 0 1rem 1.5rem 1.5rem;
}

.header .sub_category_list .link_sub_item {
    display: block;
    padding: .25rem .5rem;
    font-size: 90%;
}

/* widget-on */

.widget-on .widget-section .inner-container {
    left: 0;
}

/* menu-on */

.menu-on .menu-section .inner-container {
    right: 0;
}




















.content-container {
    margin-top: 50px;
}




















































#content .inner {
    overflow: hidden;
    max-width: 860px;
    margin: 0 auto;
}

#aside {
    margin-top: 120px;
    padding: 57px 0 24px;
    border-top: 1px solid #e6e6e6;
}

#aside .inner {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

#aside h2 {
    margin-bottom: 6px;
    font-size: 1em;
    color: #666;
}

#aside .sidebar-1 {
    float: left;
    width: 25%;
    min-height: 10px;
    padding-right: 36px;
    box-sizing: border-box;
}

#aside .sidebar-2 {
    float: left;
    width: 50%;
    min-height: 10px;
    margin: 0 0 40px;
    padding: 0 12px;
    box-sizing: border-box;
}

#aside .sidebar-3 {
    float: left;
    width: 25%;
    min-height: 10px;
    padding-left: 36px;
    box-sizing: border-box;
}

#aside .posts {
    margin-bottom: 56px;
}

#aside .posts li {
    border-bottom: 1px solid #e6e6e6;
}

#aside .posts li a {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 8px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.875em;
    line-height: 1.5714;
    color: #b2b2b2;
}

#aside .posts li a:hover {
    color: #7a583a;
}

#aside .tags {
    margin: 0 0 40px;
}

#aside .tags h2 {
    margin-bottom: 10px;
}

#aside .tags .items {
    margin-bottom: 5px;
}

#aside .tags .more {
    text-decoration: none;
    font-size: 12px;
    line-height: 2;
    color: #d4bca7;
}

#aside .tags .more:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-left: 6px;
    background: url(./images/ico_package.png) no-repeat 0 -300px;
    vertical-align: baseline;
}

#aside .tags .more:hover {
    color: #7a583a;
}

#aside .tags .more:hover:after {
    background-position-x: -50px;
}



#aside .count {
    margin: 0 0 40px;
}

#aside .count .total {
    margin: 11px 0 2px;
    font-size: 1.875em;
    color: #7a583a;
}

#aside .count ul li {
    overflow: hidden;
    padding: 4px 0;
    border-bottom: 1px solid #e6e6e6;
    text-align: right;
    font-size: 0.875em;
    line-height: 2.1428;
    color: #b2b2b2;
}

#aside .count ul li strong {
    float: left;
    font-weight: normal;
}

#footer {
    padding: 18px 0;
    background-color: #f0f0f0;
}

#footer .copyright {
    text-align: center;
    font-size: 0.75em;
    color: #999;
}

#footer a {
    text-decoration: none;
    color: #7a583a;
}

#footer .admin:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 1px 9px 2px;
    background-color: #b2b2b2;
    vertical-align: middle;
}






































































































/* Components */
.btn,
a.btn {
    display: inline-block;
    position: relative;
    width: 158px;
    padding: 0 10px;
    border: 1px solid #7a583a;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    line-height: 38px;
    color: #7a583a;
    -webkit-transition: color .2s, background-color .2s;
    transition: color .2s, background-color .2s;
}

.btn:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 11px;
    height: 9px;
    margin-top: -5px;
    background: url(./images/ico_package.png) no-repeat -100px 0;
}

.btn:hover {
    background-color: #7a583a;
    border-color: #7a583a;
    color: #fff;
}

.btn:hover:after {
    background-position-x: 0;
}

.cover-slider {
    position: relative;
    overflow: hidden;
    height: 0;
    margin: -1px 0 50px 0;
    padding: 250px 0;
}

.cover-slider .prev,
.cover-slider .next {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    text-indent: -999em;
    width: 24px;
    height: 42px;
    margin-top: -21px;
    background-size: 100px auto;
}

.cover-slider .prev {
    margin-left: 0;
    left: 10px;
    background-position: 0 -100px;
}

.cover-slider .prev:hover {
    background-position-x: -50px;
}

.cover-slider .next {
    left: auto;
    margin-left: 0;
    right: 10px;
    background-position: -25px -100px;
}

.cover-slider .next:hover {
    background-position-x: -75px;
}

.cover-slider .paging {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.cover-slider .paging button {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 1px;
    margin: 0 5px;
    background-color: #b2b2b2;
    text-indent: -999em;
    vertical-align: bottom;
}

.cover-slider .paging .current {
    height: 5px;
    margin-top: 0;
    background-color: #333;
}

.cover-slider ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-slider ul li {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.cover-slider ul li .text-box {
    display: table-cell;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    text-decoration: none;
}

.cover-slider ul li .text-box strong {
    font-weight: 700;
}

.cover-slider ul li .text-box .title {
    display: block;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
    line-height: 1;
    color: #fff;
    margin-bottom: 28px;
    padding: 0 30px;
    font-size: 1.5em;
}

.cover-slider ul li .text-box .title em {
    display: block;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
    font-style: normal;
    line-height: 1;
    color: #fff;
    margin-bottom: 10px;
    font-size: 0.75em;
}

.cover-slider ul li .text-box .btn {
    z-index: 10;
    border-color: #fff;
    color: #fff;
    background-color: rgba(170, 170, 170, 0.1);
    box-shadow: 0 0 24px rgba(170, 170, 170, 0.3);
}

.cover-slider ul li .text-box .btn:after {
    background-position-x: 0;
}

.cover-slider ul li .text-box .btn:hover {
    background-color: #fff;
    color: #7a583a;
}

.cover-slider ul li .text-box .btn:hover:after {
    background-position-x: -100px;
}

.cover-slider.slide-on ul li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.cover-thumbnail-list-1 {
    overflow: hidden;
    max-width: 1200px;
    margin: 80px auto 71px;
    box-sizing: border-box;
}

.cover-thumbnail-list-1 h2 {
    float: left;
    width: 24%;
    font-weight: 300;
    font-size: 1.875em;
    line-height: 1.3333;
    color: #7a583a;
}

.cover-thumbnail-list-1 h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    margin-top: 31px;
    background-color: #7a583a;
}

.cover-thumbnail-list-1 h2 em {
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 0.4666em;
    color: #000;
}

.cover-thumbnail-list-1 ul {
    float: left;
    width: 76%;
}

.cover-thumbnail-list-1 ul li {
    float: left;
    width: 33.3333%;
    padding-left: 16px;
    text-align: center;
    font-size: 0.875em;
    line-height: 2.25;
    color: #666;
    box-sizing: border-box;
}

.cover-thumbnail-list-1 ul li a {
    display: block;
    text-decoration: none;
    color: #666;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.cover-thumbnail-list-1 ul li .thum {
    display: block;
    margin-bottom: 7px;
    position: relative;
}

.cover-thumbnail-list-1 ul li .thum img {
    width: 100%;
    height: auto;
}

.cover-thumbnail-list-1 ul li .title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cover-thumbnail-list-1 ul li a:hover {
    color: #000;
}

.cover-thumbnail-list-1 ul li .thum:before {
    content: "";
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.cover-thumbnail-list-1 ul li a:hover .thum:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.cover-special-contents {
    max-width: 1200px;
    margin: 71px auto 80px;
}

.cover-special-contents ul li {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.cover-special-contents ul li .thum {
    display: block;
    float: left;
    width: 50%;
}

.cover-special-contents ul li .thum img {
    max-width: 100%;
    height: auto;
}

.cover-special-contents ul li .box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin-top: -230px;
}

.cover-special-contents ul li:nth-child(even) .thum {
    float: right;
}

.cover-special-contents ul li:nth-child(even) .box {
    left: 0;
}

.cover-special-contents ul li .category {
    display: block;
    margin: 0 0 17px;
    font-weight: 700;
    font-size: 0.875em;
    color: #7a583a;
}

.cover-special-contents ul li .title {
    display: block;
    margin: 0 0 32px;
    font-weight: 300;
    font-size: 1.875em;
    line-height: 1.3333;
    color: #7a583a;
}

.cover-special-contents ul li .title:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin: 33px auto 0;
    background-color: #7a583a;
}

.cover-special-contents ul li .excerpt {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 12.8568em;
    margin-bottom: 51px;
    padding: 0 21%;
    font-size: 0.875em;
    line-height: 2.1428;
    text-overflow: ellipsis;
    color: #666;
}

.cover-wide-panel {
    max-width: 1200px;
    margin: 80px auto 120px;
}

.cover-wide-panel .bg {
    height: 300px;
    background-position: 50% 50%;
    background-size: cover;
}

.cover-wide-panel .box {
    max-width: 1000px;
    margin: -100px auto 0;
    padding-top: 58px;
    text-align: center;
    background-color: #fff;
}

.cover-wide-panel .category {
    display: block;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 0.875em;
    color: #7a583a;
}

.cover-wide-panel h2 {
    display: block;
    margin-bottom: 32px;
    padding: 2px 0 3px;
    font-weight: 300;
    font-size: 1.875em;
    line-height: 1.3333;
    color: #7a583a;
}

.cover-wide-panel h2:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin: 33px auto 0;
    background-color: #7a583a;
}

.cover-wide-panel p {
    display: block;
    margin-bottom: 48px;
    padding: 0 125px;
    font-size: 0.875em;
    line-height: 2.1428;
    color: #666;
}

.post-header {
    position: relative;
    z-index: 10;
    overflow: hidden;
    max-width: 860px;
    margin: 40px auto 0;
    border-bottom: 1px solid #7a583a;
    text-align: left;
    color: #7a583a;
}

.post-header:first-child {
    margin-top: 75px;
}

.post-header h2 {
    display: inline-block;
    font-size: 0.875em;
    line-height: 40px;
    vertical-align: top;
}

.post-header .list-type {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
}

.post-header .list-type button {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    border: 1px solid #D4BCA7;
    background-image: url(./images/ico_package.png);
    text-indent: -999em;
    box-sizing: border-box;
}

.post-header .list-type .thum {
    background-position: 0 -100px;
}

.post-header .list-type .thum:hover,
.post-header .list-type .thum.current {
    background-position: -100px -100px;
    outline: none;
}

.post-header .list-type .list {
    background-position: -50px -100px;
    outline: none;
}

.post-header .list-type .list:hover,
.post-header .list-type .list.current {
    background-position: -150px -100px;
    outline: none;
}

.post-item {
    float: left;
    width: 23.255813953488372%;
    padding: 20px 0 33px 2.325581395348837%;
    border-bottom: 1px solid #e6e6e6;
}

.post-item:nth-child(4n+1) {
    padding-left: 0;
}

.cover-thumbnail-list-2 {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto 40px;
}

.cover-thumbnail-list-2 h2 {
    position: relative;
    z-index: 10;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #7a583a;
    border-bottom: 1px solid #7a583a;
    text-align: center;
    font-size: 0.875em;
    line-height: 40px;
    color: #7a583a;
}

.cover-thumbnail-list-2 ul {
    margin-left: -16px;
}

.cover-thumbnail-list-2 ul li {
    float: left;
    width: 25%;
    padding: 20px 0 33px 16px;
    box-sizing: border-box;
}

.post-item .thum,
.cover-thumbnail-list-2 ul li .thum {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    margin-bottom: 17px;
    padding-bottom: 98.4848%;
    background-color: #ebebeb;
}

.post-item .thum:before,
.cover-thumbnail-list-2 ul li .thum:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 22px;
    height: 18px;
    margin: -9px 0 0 -11px;
    background: url(./images/ico_package.png) no-repeat -150px -300px;
}

.post-item .thum img,
.cover-thumbnail-list-2 ul li .thum img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.post-item a,
.cover-thumbnail-list-2 ul li a {
    display: block;
    text-decoration: none;
}

.post-item .title,
.cover-thumbnail-list-2 ul li .title {
    display: block;
    overflow: hidden;
    width: 90%;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1em;
    color: #000;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.post-item .excerpt,
.cover-thumbnail-list-2 ul li .excerpt {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    width: 90%;
    height: 4.125rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    font-size: 0.875em;
    line-height: 1.375rem;
    color: #666;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.post-item .excerpt.protected:before,
.cover-thumbnail-list-2 ul li .excerpt.protected:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 13px;
    margin-right: 10px;
    background: url(./images/ico_package.png) no-repeat -100px -350px;
    vertical-align: middle;
}

.post-item .more,
.cover-thumbnail-list-2 ul li .more {
    display: inline-block;
    font-size: 0.75em;
    color: #d4bca7;
    vertical-align: top;
}

.post-item .more:after,
.cover-thumbnail-list-2 ul li .more:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    margin: 3px 0 4px 6px;
    background: url(./images/ico_package.png) no-repeat 0 -300px;
    vertical-align: top;
}

.post-item .thum:after,
.cover-thumbnail-list-2 ul li .thum:after {
    content: "";
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.post-item a:hover .thum:after,
.cover-thumbnail-list-2 ul li a:hover .thum:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.post-item a:hover .title,
.cover-thumbnail-list-2 ul li a:hover .title {
    color: #7a583a;
}

.post-item a:hover .excerpt,
.cover-thumbnail-list-2 ul li a:hover .excerpt {
    color: #000;
}

.post-item a:hover .more,
.cover-thumbnail-list-2 ul li a:hover .more {
    color: #7A583A;
}

.post-item a:hover .more:after,
.cover-thumbnail-list-2 ul li a:hover .more:after {
    background-position-x: -50px;
}

.post-type-text .post-item {
    float: none;
    width: auto;
    margin-left: 0;
    padding: 28px 0;
}

.post-type-text .post-item a {
    overflow: hidden;
    width: 100%;
}

.post-type-text .post-item .thum {
    float: right;
    width: 210px;
    height: 148px;
    margin: 0 0 0 78px;
    padding-bottom: 0;
}

.post-type-text .post-item .thum:before {
    display: none;
}

.post-type-text .post-item .thum img {
    position: relative;
    width: 100%;
    height: auto;
    margin: -29px 0 0;
}

.post-type-text .post-item .title {
    width: auto;
    margin-bottom: 3px;
    padding: 10px 0 0;
    font-size: 1.125em;
}

.post-type-text .post-item .excerpt {
    width: auto;
}

.post-type-text .post-item .more {
    line-height: 1.25;
}

.hgroup {
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 78px 0 40px;
    border-bottom: 1px solid #7a583a;
}

.hgroup .category {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 0.875em;
    color: #000;
}

.hgroup h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.0666;
    color: #7a583a;
}

.hgroup .post-meta {
    margin: 18px 0 -2px;
    font-size: 0.75em;
    color: #b2b2b2;
}

.hgroup .post-meta a {
    text-decoration: none;
    color: #d4bca7;
}

.hgroup .post-meta a:hover {
    color: #7A583A;
}

.hgroup .post-meta span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 9px;
    background-color: #b3b3b3;
    vertical-align: middle;
}

.hgroup .post-meta span:first-child:before {
    content: none;
}

.hgroup.guest h2 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    color: #7a583a;
}

.hgroup.guest {
    max-width: 860px;
    margin: 0 auto 60px;
    padding: 75px 0 0;
    border-bottom: 1px solid #7a583a;
}

.hgroup.tag {
    max-width: 860px;
    margin: 0 auto 60px;
    padding: 75px 0 0;
    border-bottom: 1px solid #7a583a;
}

.hgroup.tag h2 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    color: #7a583a;
}


.post-btn {
    max-width: 1200px;
    margin: 200px auto 20px;
}

.post-btn button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    text-align: left;
    text-indent: -999em;
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    border: 1px solid #D4BCA7;
    box-sizing: border-box;
}

.post-btn .share {
    background-position: 0 -50px;
}

.post-btn .report {
    background-position: -50px -50px;
}

.post-btn .share:hover {
    background-position: -100px -50px;
}

.post-btn .report:hover {
    background-position: -150px -50px;
}

.another-category {
    max-width: 1200px;
    margin: 20px auto 36px;
    padding: 38px 0 0;
    border-top: 1px solid #7a583a;
}

.another-category h4 {
    margin-bottom: 10px;
    font-size: 1em;
    color: #666;
}

.another-category table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875em;
    color: #b2b2b2;
}

.another-category table th {
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
    font-weight: 400;
}

.another-category table th a {
    text-decoration: none;
    color: #b2b2b2;
}

.another-category table th a:hover {
    color: #7A583A;
}

.another-category table th span {
    font-size: 0.75em;
}

.another-category td {
    width: 60px;
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.75em;
    line-height: 1;
    color: #b2b2b2;
}

/* Style Important */
.another_category table {
    border: none !important;
}

.another_category td {
    border: none !important;
}



#content .tags .items a {
    margin-left: 8px;
}

#content .tags .items {
    margin: 0 0 0 -18px;
    padding-left: 10px;
}


.related-articles {
    overflow: hidden;
    max-width: 1200px;
    margin: 40px auto 80px;
}

.related-articles h2 {
    margin-bottom: 28px;
    border-top: 1px solid #7a583a;
    border-bottom: 1px solid #7a583a;
    text-align: center;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 40px;
    color: #666;
}

.related-articles h2 strong {
    font-weight: 700;
    color: #000;
}

.related-articles ul {
    margin-left: -20px;
    vertical-align: top;
}

.related-articles ul li {
    float: left;
    position: relative;
    width: 25%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.related-articles ul li a {
    overflow: hidden;
    display: block;
    position: relative;
}

.related-articles ul li .thum {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 98.4848%;
    background-color: #ebebeb;
}

.related-articles ul li .thum:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 22px;
    height: 18px;
    margin: -9px 0 0 -11px;
    background: url(./images/ico_package.png) no-repeat -150px -300px;
}

.related-articles ul li .thum img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.related-articles ul li .title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
}

.comments {
    max-width: 860px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}

.comments h2 {
    font-size: 1em;
    color: #666;
}

.comments h2 .count {
    color: #7a583a;
}

.comments .comment-list {
    font-size: 16px;
    margin-bottom: 6px;
    overflow: hidden;
}

.comments .comment-list ul li {
    padding: 30px 0 25px;
    border-top: 1px solid #e6e6e6;
    position: relative;
    min-height: 48px;
}

.comments .comment-list ul li:first-child {
    border: none;
}

.comments .comment-list ul li ul li {
    padding: 26px 0 0 60px;
    border-top: 0;
    border-bottom: 0;
}

.comments .comment-list ul li .author-meta {
    position: absolute;
    overflow: hidden;
    top: 30px;
    height: 48px;
    left: 0;
    right: 0;
    padding: 4px 0 0 60px;
}

.comments .comment-list ul li ul li .author-meta {
    top: 26px;
    left: 60px;
}

.comments .comment-list ul li .author-meta .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.comments .comment-list ul li .author-meta span {
    display: inline-block;
}

.comments .comment-list ul li .author-meta a {
    text-decoration: none;
    color: #000;
}

.comments .comment-list ul li .author-meta .nickname {
    float: left;
    font-size: 0.875em;
    line-height: 20px;
}

.comments .comment-list ul li .author-meta .nickname .tistoryProfileLayerTrigger {
    margin-bottom: 3px;
    margin-right: 0;
    vertical-align: bottom;
}

.comments .comment-list ul li .author-meta .date {
    float: left;
    margin-left: 10px;
    font-size: 0.75em;
    color: #999;
    line-height: 20px;
}

.comments .comment-list ul li .author-meta .date:before,
.comments .comment-list ul li .author-meta .date a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin-right: 10px;
    background-color: #b2b2b2;
}

.comments .comment-list ul li .author-meta .date a {
    margin-left: 10px;
}

.comments .comment-list ul li .control {
    position: absolute;
    top: 33px;
    right: 0;
}

.comments .comment-list ul li ul li .control {
    top: 29px;
}

.comments .comment-list ul li .control a {
    margin: 0 2px;
    text-decoration: none;
    font-size: 12px;
    color: #999;
}

.comments .comment-list ul li p {
    position: relative;
    margin: 29px 0 0 60px;
    font-size: 0.875em;
    line-height: 1.5714;
    color: #666;
}

.comments .comment-form .field {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.comments .comment-form input[type=text],
.comments .comment-form input[type=password],
.comments .comment-form textarea {
    border: 1px solid #e6e6e6;
    font-size: 0.875em;
    line-height: 1.25;
    color: #666;
}

.comments .comment-form input[type=text],
.comments .comment-form input[type=password] {
    width: 120px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.comments .comment-form input::-webkit-input-placeholder,
.comments .comment-form textarea::-webkit-input-placeholder {
    color: #d6d6d6;
}

.comments .comment-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}

.comments .comment-form .field .secret {
    float: right;
}

.comments .comment-form .field .secret input {
    display: none;
}

.comments .comment-form .field .secret label {
    font-size: 0.875em;
    line-height: 40px;
    color: #666;
    outline: none;
    cursor: pointer;
}

.comments .comment-form .field .secret label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
    background-color: #fff;
}

.comments .comment-form .field .secret input[type=checkbox]:checked+label:before {
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    background-position: -97px -295px;
}

.comments .comment-form .submit {
    margin-bottom: 10px;
    text-align: right;
}

.pagination {
    max-width: 860px;
    margin: 60px auto 160px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.875em;
    line-height: 30px;
    color: #d4bca7;
    vertical-align: middle;
}

.pagination a:hover {
    color: #7A583A;
}

.pagination .selected {
    color: #000;
}

.pagination .prev,
.pagination .next {
    width: 30px;
    height: 30px;
    background-image: url(./images/ico_package.png);
    background-repeat: no-repeat;
    border: 1px solid #D4BCA7;
    text-indent: -999em;
    vertical-align: middle;
    box-sizing: border-box;
}

.pagination .prev {
    background-position: 0 -150px;
}

.pagination .prev:hover {
    background-position: -100px -150px;
}

.pagination .next {
    background-position: -50px -150px;
}

.pagination .next:hover {
    background-position: -150px -150px;
}

.pagination .no-more-prev,
.pagination .no-more-next {
    display: none;
}

.pagination .view-more {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px 0 11px;
    border: 1px solid #d4bca7;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    color: #d4bca7;
}

.pagination .view-more:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 9px;
    background: url(./images/ico_package.png) no-repeat 0 -400px;
}

.pagination .view-more:hover {
    background-color: #d4bca7;
    color: #fff;
}

.pagination .view-more:hover:before {
    background-position-x: -50px;
}

/* Entry Content */
.entry-content {
    max-width: 1200px;
    margin: 0 auto;
}

.entry-content h1 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.6875em;
    line-height: 1.5;
    color: #000;
}

.entry-content h2 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.5em;
    line-height: 1.5;
    color: #000;
}

.entry-content h3 {
    clear: both;
    margin: 29px 0 22px;
    font-size: 1.3125em;
    line-height: 1.5;
    color: #000;
}

.entry-content h4 {
    clear: both;
    margin: 29px 0 22px;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5;
    color: #000;
}

.entry-content p {
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
}

.entry-content p img {
    max-width: 100%;
    height: auto;
}

.entry-content hr {
    display: block;
    height: 0;
    border: 0;
    border-bottom: 1px solid #000;
}

.entry-content pre {
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.entry-content pre code.hljs {
    padding: 20px;
}

.entry-content ul {
    list-style: disc inside;
    margin-bottom: 22px;
}

.entry-content ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    text-indent: -22px;
    list-style: inherit;
}

.entry-content ol {
    list-style: decimal inside;
    margin-bottom: 22px;
}

.entry-content ol li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 16px;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    text-indent: -15px;
    list-style: inherit;
}

.entry-content a {
    color: #d4bca7;
}

.entry-content img.alignleft {
    float: left;
    margin: 0 22px 22px 0;
}

.entry-content img.aligncenter {
    display: block;
    margin: 0 auto 22px;
}

.entry-content img.alignright {
    float: right;
    margin: 0 0 22px 22px;
}

.entry-content blockquote {
    margin-top: 10px;
    padding: 16px 20px;
    border-left: 4px solid #e6e6e6;
}

.entry-content blockquote p {
    margin: 22px 0 0;
}

.entry-content blockquote p:first-child {
    margin-top: 0;
}

.entry-content table {
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
}

.entry-content table thead th {
    padding: 7px 0 11px;
    border-left: 1px solid #e6e6e6;
}

.entry-content table tbody td {
    padding: 7px 0 11px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.entry-content input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    font-size: 0.875em;
    line-height: 1.25;
    color: #666;
    box-sizing: border-box;
    vertical-align: middle;
}

.entry-content .protected_form {
    margin-bottom: 40px;
    padding: 120px 0 200px;
    border-bottom: 1px solid #7a583a;
    text-align: center;
}

.entry-content .protected_form input {
    width: 200px;
    margin-bottom: 10px;
    vertical-align: top;
}

.entry-content .cap1 {
    text-align: center;
    font-size: 0.875em;
    font-style: italic;
}

.entry-content .iframe-wrap {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.entry-content .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Comment */

















/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio:2) {

    #aside .tags .more:after,
    #aside .search button,
    .btn:after,
    .cover-slider .prev,
    .cover-slider .next,
    .post-header .list-type button,
    .post-item .thum:before,
    .cover-thumbnail-list-2 ul li .thum:before,
    .post-item .more:after,
    .cover-thumbnail-list-2 ul li .more:after,
    .post-btn button,
    .related-articles ul li .thum:before,
    .comments .comment-form .field .secret input[type=checkbox]:checked+label:before,
    .pagination .prev,
    .pagination .next,
    .pagination .view-more:before {
        background-image: url(./images/ico_package_2x.png);
        background-size: 200px auto;
    }
}